In [1]:
import pandas as pd
import numpy as np
import sklearn.tree as tree
import sklearn.model_selection as ms
import sklearn.ensemble as ens
import sklearn.metrics as met
rf = ens.RandomForestClassifier(n_estimators=100)

In [2]:
data = pd.read_csv('F:/tugas/UAS_Business_Intellegent/data_UAS-main/DataBank.csv')

In [5]:
data.head(20)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.4,3,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.1,2,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.8,3,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.5,2,0,0,0,0,1,0
14,15,67,41,112,91741,1,2.0,1,0,0,1,0,0,0
15,16,60,30,22,95054,1,1.5,3,0,0,0,0,1,1
16,17,38,14,130,95010,4,4.7,3,134,1,0,0,0,0
17,18,42,18,81,94305,4,2.4,1,0,0,0,0,0,0
18,19,46,21,193,91604,2,8.1,3,0,1,0,0,0,0
19,20,55,28,21,94720,1,0.5,2,0,0,1,0,0,1

In [9]:
data.dropna(inplace=True)

In [10]:
data.head(20)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.4,3,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.1,2,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.8,3,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.5,2,0,0,0,0,1,0
14,15,67,41,112,91741,1,2.0,1,0,0,1,0,0,0
15,16,60,30,22,95054,1,1.5,3,0,0,0,0,1,1
16,17,38,14,130,95010,4,4.7,3,134,1,0,0,0,0
17,18,42,18,81,94305,4,2.4,1,0,0,0,0,0,0
18,19,46,21,193,91604,2,8.1,3,0,1,0,0,0,0
19,20,55,28,21,94720,1,0.5,2,0,0,1,0,0,1

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 585.9 KB

In [35]:
X = data.drop(['Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg', 'Education', 'Mortgage',  
              'Online', 'CreditCard'], axis = 1)
y = data['Income']

In [36]:
data.head(20)

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1
5,6,37,13,29,92121,4,0.4,2,155,0,0,0,1,0
6,7,53,27,72,91711,2,1.5,2,0,0,0,0,1,0
7,8,50,24,22,93943,1,0.3,3,0,0,0,0,0,1
8,9,35,10,81,90089,3,0.6,2,104,0,0,0,1,0
9,10,34,9,180,93023,1,8.9,3,0,1,0,0,0,0
10,11,65,39,105,94710,4,2.4,3,0,0,0,0,0,0
11,12,29,5,45,90277,3,0.1,2,0,0,0,0,1,0
12,13,48,23,114,93106,2,3.8,3,0,0,1,0,0,0
13,14,59,32,40,94920,4,2.5,2,0,0,0,0,1,0
14,15,67,41,112,91741,1,2.0,1,0,0,1,0,0,0
15,16,60,30,22,95054,1,1.5,3,0,0,0,0,1,1
16,17,38,14,130,95010,4,4.7,3,134,1,0,0,0,0
17,18,42,18,81,94305,4,2.4,1,0,0,0,0,0,0
18,19,46,21,193,91604,2,8.1,3,0,1,0,0,0,0
19,20,55,28,21,94720,1,0.5,2,0,0,1,0,0,1

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5000 entries, 0 to 4999
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  5000 non-null   int64
 1   Age                 5000 non-null   int64
 2   Experience          5000 non-null   int64
 3   Income              5000 non-null   int64
 4   ZIP Code            5000 non-null   int64
 5   Family              5000 non-null   int64
 6   CCAvg               5000 non-null   float64
 7   Education           5000 non-null   int64
 8   Mortgage            5000 non-null   int64
 9   Personal Loan       5000 non-null   int64
 10  Securities Account  5000 non-null   int64
 11  CD Account          5000 non-null   int64
 12  Online              5000 non-null   int64
 13  CreditCard          5000 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 585.9 KB

In [38]:
X_train, X_test, y_train, y_test = ms.train_test_split(X, y, test_size = 0.3)

In [39]:
rf.fit(X_train, y_train)
y_prediksi = rf.predict(X_test)
print('akurasi = ', met.accuracy_score(y_test, y_prediksi))
print(met.classification_report(y_test, y_prediksi))
print(rf.feature_importances_)

akurasi =  0.006
              precision    recall  f1-score   support

           8       0.00      0.00      0.00         4
           9       0.00      0.00      0.00        11
          10       0.00      0.00      0.00         5
          11       0.00      0.00      0.00         9
          12       0.00      0.00      0.00        11
          13       0.00      0.00      0.00         7
          14       0.00      0.00      0.00        13
          15       0.00      0.00      0.00         7
          18       0.00      0.00      0.00        15
          19       0.08      0.08      0.08        13
          20       0.00      0.00      0.00        16
          21       0.00      0.00      0.00        23
          22       0.00      0.00      0.00        18
          23       0.07      0.06      0.06        17
          24       0.00      0.00      0.00        13
          25       0.00      0.00      0.00        22
          28       0.00      0.00      0.00        17
          29       0.04      0.05      0.05        21
          30       0.00      0.00      0.00        18
          31       0.00      0.00      0.00        15
          32       0.04      0.05      0.05        19
          33       0.00      0.00      0.00        13
          34       0.00      0.00      0.00        19
          35       0.00      0.00      0.00        25
          38       0.00      0.00      0.00        28
          39       0.00      0.00      0.00        17
          40       0.00      0.00      0.00        23
          41       0.00      0.00      0.00        23
          42       0.05      0.05      0.05        20
          43       0.00      0.00      0.00        24
          44       0.00      0.00      0.00        28
          45       0.00      0.00      0.00        21
          48       0.00      0.00      0.00        13
          49       0.00      0.00      0.00        15
          50       0.00      0.00      0.00        12
          51       0.00      0.00      0.00        13
          52       0.00      0.00      0.00        14
          53       0.00      0.00      0.00        19
          54       0.00      0.00      0.00        11
          55       0.00      0.00      0.00        10
          58       0.00      0.00      0.00        19
          59       0.00      0.00      0.00        16
          60       0.00      0.00      0.00        17
          61       0.00      0.00      0.00        17
          62       0.00      0.00      0.00        17
          63       0.00      0.00      0.00        16
          64       0.00      0.00      0.00        22
          65       0.00      0.00      0.00        18
          68       0.00      0.00      0.00        11
          69       0.00      0.00      0.00        14
          70       0.00      0.00      0.00        13
          71       0.00      0.00      0.00        10
          72       0.00      0.00      0.00        12
          73       0.00      0.00      0.00        16
          74       0.00      0.00      0.00        18
          75       0.05      0.08      0.06        12
          78       0.00      0.00      0.00        24
          79       0.00      0.00      0.00        11
          80       0.00      0.00      0.00        10
          81       0.00      0.00      0.00        20
          82       0.00      0.00      0.00        23
          83       0.05      0.04      0.04        27
          84       0.00      0.00      0.00        19
          85       0.00      0.00      0.00        15
          88       0.00      0.00      0.00         9
          89       0.00      0.00      0.00        13
          90       0.00      0.00      0.00        14
          91       0.00      0.00      0.00        10
          92       0.00      0.00      0.00        11
          93       0.00      0.00      0.00        12
          94       0.00      0.00      0.00         9
          95       0.00      0.00      0.00        10
          98       0.00      0.00      0.00        10
          99       0.00      0.00      0.00        10
         100       0.00      0.00      0.00         2
         101       0.00      0.00      0.00        12
         102       0.00      0.00      0.00         6
         103       0.00      0.00      0.00         4
         104       0.00      0.00      0.00         5
         105       0.00      0.00      0.00         9
         108       0.00      0.00      0.00         2
         109       0.00      0.00      0.00         3
         110       0.00      0.00      0.00         5
         111       0.00      0.00      0.00        10
         112       0.00      0.00      0.00         9
         113       0.00      0.00      0.00         6
         114       0.00      0.00      0.00        11
         115       0.00      0.00      0.00        10
         118       0.00      0.00      0.00         5
         119       0.00      0.00      0.00         3
         120       0.00      0.00      0.00         7
         121       0.00      0.00      0.00         4
         122       0.00      0.00      0.00         6
         123       0.00      0.00      0.00         6
         124       0.00      0.00      0.00         6
         125       0.00      0.00      0.00         4
         128       0.00      0.00      0.00         7
         129       0.00      0.00      0.00         8
         130       0.00      0.00      0.00         4
         131       0.00      0.00      0.00         5
         132       0.00      0.00      0.00         6
         133       0.00      0.00      0.00         3
         134       0.00      0.00      0.00         6
         135       0.00      0.00      0.00         7
         138       0.00      0.00      0.00         6
         139       0.00      0.00      0.00         8
         140       0.00      0.00      0.00         6
         141       0.00      0.00      0.00        11
         142       0.00      0.00      0.00         2
         143       0.00      0.00      0.00         6
         144       0.00      0.00      0.00         3
         145       0.08      0.25      0.12         4
         148       0.00      0.00      0.00         3
         149       0.00      0.00      0.00         8
         150       0.00      0.00      0.00         0
         151       0.00      0.00      0.00         3
         152       0.00      0.00      0.00         6
         153       0.00      0.00      0.00         3
         154       0.00      0.00      0.00         1
         155       0.12      0.33      0.18         3
         158       0.00      0.00      0.00         4
         159       0.00      0.00      0.00         2
         160       0.00      0.00      0.00         3
         161       0.00      0.00      0.00         6
         162       0.00      0.00      0.00         4
         163       0.00      0.00      0.00         2
         164       0.00      0.00      0.00         3
         165       0.00      0.00      0.00         3
         168       0.00      0.00      0.00         3
         169       0.00      0.00      0.00         5
         170       0.00      0.00      0.00         6
         171       0.00      0.00      0.00         6
         172       0.00      0.00      0.00         4
         173       0.00      0.00      0.00         4
         174       0.00      0.00      0.00         2
         175       0.00      0.00      0.00         2
         178       0.00      0.00      0.00         2
         179       0.00      0.00      0.00         3
         180       0.00      0.00      0.00         6
         181       0.00      0.00      0.00         2
         182       0.00      0.00      0.00         3
         183       0.00      0.00      0.00         1
         184       0.00      0.00      0.00         1
         185       0.00      0.00      0.00         3
         188       0.00      0.00      0.00         2
         190       0.00      0.00      0.00         3
         191       0.00      0.00      0.00         2
         192       0.00      0.00      0.00         1
         193       0.00      0.00      0.00         2
         194       0.00      0.00      0.00         2
         195       0.00      0.00      0.00         0
         198       0.00      0.00      0.00         2
         199       0.00      0.00      0.00         2
         200       0.00      0.00      0.00         1
         201       0.00      0.00      0.00         0
         202       0.00      0.00      0.00         1
         203       0.00      0.00      0.00         0
         224       0.00      0.00      0.00         1

    accuracy                           0.01      1500
   macro avg       0.00      0.01      0.00      1500
weighted avg       0.00      0.01      0.01      1500

[0.98980944 0.0026167  0.00433442 0.00323944]

C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))
C:\Users\user\anaconda3\lib\site-packages\sklearn\metrics\_classification.py:1248: UndefinedMetricWarning: Recall and F-score are ill-defined and being set to 0.0 in labels with no true samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))